@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
body, button {
    font-family: "Open Sans", Sans Serif;
    text-align: center;
}

body {
    background-color: #fefefe;
}

h1, h3, h5 {
    color: #242d4d;
    font-weight: 600;
    margin: 0px 0px 15px;
}

button {
    color: #242d4d;
    border: 3px solid #242d4d;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-weight: 400;
    font-family: "Open Sans", Sans Serif;
    font-size: 15px;
    background-color: #fefefe;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.2s;
}

button:hover {
  padding: 16px 16px;
  margin: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #fefefe;
  border-radius: 25px;
  background-color: #3b456a;
}

#message {
  display: none;
}

#subtitle {
  margin-bottom: 32px;
}

.group 			  {
  position:relative;
  margin: 0px auto 32px;
  width: 300px;
}

input 				{
  font-size: 18px;
  color: #242d4d;
  padding: 12px 2px 2px 2px;
  display:block;
  width:300px;
  border:none;
  border-bottom:2px solid #242d4d;
}

input:focus 		{ outline:none; }

input [type="text"] {
  font-family: "Open Sans", Sans Serif;
}

label 				 {
  color:#3b456a;
  font-size:18px;
  font-weight:600;
  position:absolute;
  pointer-events:none;
  left: 2px;
  top: 8px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-14px;
  font-size:14px;
  color: #242d4d;
}
